<section class="w-full  flex flex-col bg-blue-300 mb-36" style="height: 690px;">
  <div class="flex fles-row mx-auto">
    <div class="ml-96 self-center w-1/3">
      <p class="font-bold text-4xl uppercase text-white mb-8">Caring for Life</p>
      <p class="font-semibold text-5xl text-sky-950 mb-12">Leading the Way in Medical Excellence</p>
      <%= link_to "Make an appointment", doctor_categories_path, class: "!no-underline font-semibold bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-lg px-5 py-2.5 text-center mr-2 mb-2 !text-white w-36" %>
    </div>
    <%= image_tag("doctor.png", class: "mx-auto", alt: "Doctor", style: "width: 470px;") %>
  </div>
</section>
<section class="relative" style="">
  <div class="bg-white w-full text-center">
    <p class="mt-24 text-4xl uppercase !font-semibold text-sky-700">Welcome to Meddical</p>
    <p class="mt-8 text-5xl font-bold text-blue-700">A Great Place to Receive Care</p>
    <p class="mt-8 text-2xl w-1/3 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat scelerisque tortor ornare ornare. Convallis felis vitae tortor augue. Velit nascetur proin massa in. Consequat faucibus porttitor enim et.</p>
    <%= image_tag("doctors.png", class: "mx-auto w-4/5", alt: "Doctors", style: "margin-top: 80px; margin-bottom: 60px;") %>
  </div>
</section>
<section class="relative text-center mt-24" style="margin-bottom: 80px;">
  <p class="mt-24 text-4xl uppercase !font-semibold text-sky-700">Care you can believe in</p>
  <p class="text-4xl font-bold text-sky-700">Our Services</p>
  <div class="flex flex-row mx-auto justify-between" style="width: 60%">
    <div class="flex-col" style="width: 70%; text-align: left">
      <p class="text-4xl text-left" >A passion for putting patients first.</p>
      <div class="flex flex-row text-2xl">
        <div class="flex-col">
          <ul>
            <li>A Passion for Healing</li>
            <li>All our best</li>
            <li>A Legacy of Excellence</li>
          </ul>
        </div>
        <div class="flex-col">
          <ul>
            <li>5-Star Care</li>
            <li>Believe in Us</li>
            <li>Always Caring</li>
          </ul>
        </div>
      </div>
      <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat scelerisque tortor ornare ornare. Quisque placerat scelerisque tortor ornare ornare Convallis felis vitae tortor augue. Velit nascetur proin massa in. Consequat faucibus porttitor enim et.</p>
      <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat scelerisque tortor ornare ornare. Quisque placerat scelerisque tortor ornare ornare Convallis felis vitae tortor augue. Velit nascetur proin massa in. Consequat faucibus porttitor enim et.</p>
      <%= link_to "Make an appointment", doctor_categories_path, class: "!no-underline font-semibold bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-lg px-5 py-2.5 text-center mr-2 mb-2 !text-white w-36" %>
    </div>
    <div class="flex-col">
      <%= image_tag("article1.png") %>
      <%= image_tag("article2.png") %>
    </div>
  </div>
</section>
